
#wrapper
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 100%;

}
#head
{
    position: absolute;
    width: 70%;
    height: 40px;
    background: lightblue;
    top: 15px;
    left: 25px;
    border-bottom: 2px solid darkgreen;
}

#head p
{
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

#cont
{
    position: absolute;
    width: 100%;
    top: 80px;
    height: 50px;
    left: 30px;
}

input
{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

input[type=submit]
{
    margin-left: 30px;
    width: 100px;
    height: 30px;
    background: cornflowerblue;
}

form
{
    position: relative;
}

form input
{
    position: absolute;
    left: 100px;
}








